<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ClientesConnectionString" connectionString="Server=localhost;Database=Clientes;User ID=tu_usuario;Password=tu_contraseña;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
